<script type="text/javascript"> 
/* jqt tooltips */
$(document).ready( function() 
{
<!-- BEGIN calendar_days -->
<!-- BEGIN raidplans -->
	$("#raid_id{calendar_days.raidplans.RAID_ID}").tooltip({ offset: [20, 130],  effect: 'fade', opacity: 0.95});  
<!-- END raidplans -->
<!-- END calendar_days -->
}
);
</script>
				
<div class="forabg">
  	<div class="inner">
  	<span class="corners-inner-top"><span></span></span>
    <div class="blockhead">{CALENDAR_HEADER}</div>

  <table class="table1" cellspacing="1" cellpadding="0">
    <tr>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D0}</td>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D1}</td>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D2}</td>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D3}</td>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D4}</td>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D5}</td>
      <td style="width: 14%; height: 24px; text-align: center" class="bg4">{D6}</td>
    </tr>
    <!-- BEGIN calendar_days -->
    <!-- IF calendar_days.START_WEEK --><tr style="height: 100px"><!-- ENDIF -->
      <!-- IF calendar_days.DUMMY_DAY -->
      	<td  valign="top" class="bg3_calMon">&nbsp;</td>
      <!-- ELSE -->
      	<td valign="top" class="
	    <!-- IF calendar_days.DAY_CLASS eq 'highlight' -->bg2_calMon<!-- ELSE -->bg1_calMon<!-- ENDIF -->">
		<table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
			<td class="<!-- IF calendar_days.HEADER_CLASS eq 'highlight' -->bg4_calMonH<!-- ELSE -->bg3_calMonH<!-- ENDIF -->">
			<!-- IF calendar_days.ADD_LINK --><a href="{calendar_days.ADD_LINK}"><strong>{calendar_days.NUMBER}</strong></a>
			<!-- ELSE --><strong>{calendar_days.NUMBER}</strong>
			<!-- ENDIF -->
			<br />
			<div class="buttons">
			<!-- IF calendar_days.ADD_LINK && calendar_days.ADD_RAID_ICON --><div class="planner-new-icon"><a href="{calendar_days.ADD_LINK}" title="{L_NEW_EVENT}"><span></span></a></div><!-- ENDIF -->
			<div class="planner-day-icon"><a href="{calendar_days.DAY_VIEW_URL}" title="{L_DAY}"><span></span></a></div>
			<!-- IF calendar_days.WEEK_VIEW_URL --><div class="planner-week-icon"><a href="{calendar_days.WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div><!-- ENDIF -->
			<!-- IF calendar_days.MONTH_VIEW_URL --><div class="planner-month-icon"><a href="{calendar_days.MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div><!-- ENDIF --></div>
			</td></tr>
		</table>
		<br />
		<!-- IF calendar_days.BIRTHDAYS -->{calendar_days.BIRTHDAYS}<!-- ENDIF -->
		<!-- BEGIN raidplans -->
		<!-- IF calendar_days.raidplans.S_FIRST_ROW --><!-- IF calendar_days.BIRTHDAYS --><hr class="hrCal"><!-- ENDIF --><!-- ELSE --><hr class="hrCal"><!-- ENDIF -->
		<a id="raid_id{calendar_days.raidplans.RAID_ID}" href="{calendar_days.raidplans.EVENT_URL}">
		<!-- IF calendar_days.raidplans.COLOR --><span style="color:#{calendar_days.raidplans.COLOR}"><!-- ENDIF -->
			<!-- IF calendar_days.raidplans.DISPLAY_BOLD --><strong><!-- ENDIF -->
			<!-- IF calendar_days.raidplans.S_EVENT_IMAGE_EXISTS --><img src="{calendar_days.raidplans.IMAGE}" alt="{calendar_days.raidplans.ETYPE_DISPLAY_NAME}" /> <br/><!-- ENDIF -->
			<!-- IF calendar_days.raidplans.ETYPE_DISPLAY_NAME -->{calendar_days.raidplans.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{calendar_days.raidplans.EVENT_SUBJECT}
			<!-- IF calendar_days.raidplans.DISPLAY_BOLD --></strong><!-- ENDIF -->
				<!-- IF calendar_days.raidplans.SHOW_TIME --><br /><span class="smCalText">
					<!-- IF calendar_days.raidplans.ALL_DAY -->{L_ALL_DAY}
					<!-- ELSE -->{L_FROM_TIME}: {calendar_days.raidplans.INVITE_TIME}
					<br />{L_FROM_TIME}: {calendar_days.raidplans.START_TIME}
					<br />{L_TO_TIME}: {calendar_days.raidplans.END_TIME}
					<!-- ENDIF --></span>
				<!-- ENDIF -->
			<!-- IF calendar_days.raidplans.COLOR --></span><!-- ENDIF -->
	  		</a>
		<div class="bbtooltip">
			<div class="bbinner">
			<div class="t"></div>
			<br/>
			<h4>{calendar_days.raidplans.EVENT_SUBJECT}</h4>
			{L_INVITE}: {calendar_days.raidplans.INVITE_TIME}<br />
			{L_START}: {calendar_days.raidplans.START_TIME}<br />
			{L_TO_TIME}: {calendar_days.raidplans.END_TIME}
			</div>
			<div class="b"><div></div></div> 
		</div>
	 	<!-- END raidplans -->
		</td>
		<!-- ENDIF -->
    <!-- IF calendar_days.END_WEEK --></tr><!-- ENDIF -->

    <!-- END calendar_days -->
  </table>
  
  <span class="corners-inner-bottom"><span></span></span>
  </div>
  </div>
  