<script type="text/javascript"> 
/* jqt tooltips */
<!-- IF EVENT_COUNT -->
$(document).ready( function() 
{
<!-- BEGIN raidplans -->
	$("#raid_id{raidplans.RAID_ID}").tooltip({ offset: [50, 120],  effect: 'fade', opacity: 0.95});  
<!-- END raidplans -->
}
);
<!-- ENDIF -->
</script>


<div class="forabg">
  	<div class="inner">
  	<span class="corners-inner-top"><span></span></span>
  	

<div class="blockhead">{CALENDAR_HEADER}</div>

  <table style="width: 100%; text-align: center"><tr><td style="width: 100%; text-align: center; margin-left: auto; margin-right: auto;">
  <table class="table1" style="width: 100%" cellspacing="0" cellpadding="0" border="0">
    <!-- IF .time_headers -->
    <tr>
      <!-- BEGIN time_headers -->
      <td style="width: 4.166%; text-align: center" colspan="4" class="bg4">{time_headers.TIME} {time_headers.AM_PM}</td>
      <!-- END time_headers -->
    </tr>
    <!-- ENDIF -->
    
    <!-- IF BIRTHDAYS -->
    <tr>
      <td colspan="96" class="bg3_calDay" style="text-align: center;">
    	{BIRTHDAYS}
   	</td>
   	</tr>
    <!-- ENDIF -->
    <!-- IF EVENT_COUNT -->
	    <!-- BEGIN raidplans -->
	      <!-- IF raidplans.PRE_PADDING --><td colspan="{raidplans.PRE_PADDING}" class="bg3_calDay">&nbsp;</td><!-- ENDIF -->
	      <td colspan="{raidplans.PADDING}" class="bg1_calDay" style="text-align: center;">
	      		<!-- IF raidplans.EVENT_URL -->
          		<a id="raid_id{raidplans.RAID_ID}" href="{raidplans.EVENT_URL}">
          			<span style="color:{raidplans.COLOR}">
          			<!-- IF raidplans.DISPLAY_BOLD --><strong><!-- ENDIF -->
          			<!-- IF raidplans.S_EVENT_IMAGE_EXISTS --><img src="{raidplans.IMAGE}" alt="{raidplans.ETYPE_DISPLAY_NAME}" /> <br/><!-- ENDIF -->
          			<!-- IF raidplans.ETYPE_DISPLAY_NAME -->{raidplans.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{raidplans.EVENT_SUBJECT}
          			<!-- IF raidplans.DISPLAY_BOLD --></strong><!-- ENDIF --><br /><span class="smCalText">
          					<!-- IF calendar_days.raidplans.SHOW_TIME -->
          					<!-- IF raidplans.ALL_DAY -->{L_ALL_DAY}
          					<!-- ELSE -->{L_INVITE}: {raidplans.INVITE_TIME} <br />{L_FROM_TIME}: {raidplans.START_TIME}
          					<br />{L_TO_TIME}: {raidplans.END_TIME}
          					<!-- ENDIF --></span>
          					<!-- ENDIF -->
          			<!-- IF raidplans.COLOR --></span><!-- ENDIF -->
          		</a>
          		<div class="bbtooltip">
			 	    <div class="bbinner">
					    <div class="t"></div>
					    	<!-- IF raidplans.S_EVENT_IMAGE_EXISTS --><img src="{raidplans.IMAGE}" alt="{raidplans.ETYPE_DISPLAY_NAME}" /> <br/><!-- ENDIF -->
							<br/><h4>{calendar_days.raidplans.EVENT_SUBJECT}</h4>
							<!-- IF raidplans.ALL_DAY -->{L_ALL_DAY}
          					<!-- ELSE -->
							{L_INVITE}: {raidplans.INVITE_TIME} <br />{L_FROM_TIME}: {raidplans.START_TIME}
          					<br />{L_TO_TIME}: {raidplans.END_TIME}
          					<!-- ENDIF -->
				    </div>
		     		<div class="b"><div></div></div> 
		     	</div>
          		<!-- ELSE -->
          		{raidplans.DATA}
          		<!-- ENDIF -->
	      </td>
	      <!-- IF raidplans.POST_PADDING --><td colspan="{raidplans.POST_PADDING}" class="bg3_calDay">&nbsp;</td><!-- ENDIF -->
	    </tr>
	    <!-- END raidplans -->
    <!-- ELSE -->
    	<tr>
	      <td colspan="96" class="bg1_calDay" style="text-align: center">&nbsp;<br />{L_NO_EVENTS_TODAY}<br />&nbsp;</td>
	    </tr>
    <!-- ENDIF -->
  
  </table>
  </td></tr></table>

<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<div class="buttons">
<!-- IF ADD_LINK --><div class="planner-new-icon"><a href="{ADD_LINK}" title="{L_NEW_EVENT}"><span></span></a></div><!-- ENDIF -->
<div class="planner-week-icon"><a href="{WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div>
<div class="planner-month-icon"><a href="{MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div>
</div>

