/* -------------------------
   raidplanner css
  ------------------------- */
a.prev_planner {
	background: transparent url('{T_THEME_PATH}/images/dkp/left_arrow.png') no-repeat scroll 50% 0;
	display: inline-block;
	overflow: hidden;
	width: 16px;
	height: 16px;
}

a.next_planner {
	background: transparent url('{T_THEME_PATH}/images/dkp/right_arrow.png') no-repeat scroll 0 0;
	display: inline-block;
	overflow: hidden;
	width: 16px;
	height: 16px;
}

.raidplanner_bg {
    clear: both;
    margin-bottom: 5px;
    padding: 0 5px;
}

/* uses border-top-color = .bg3 background-color (the line between events in the month display) */
hr.hrCal {
	border-top-color: #cadceb;
}

/* The from and to times take up a lot of space in the calendar display. Use this to shrink them */

.smCalText {
	font-size: 85%
}

/* Raidplan */
.raidplanbody {
    clear: both;
    color: #333333;
    line-height: 1.48em;
    padding: 0;
}

.raidplanbody .content {
    font-size: 1.3em;
}

.rolesignupheader {
	padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin: 1%;
    
	border-top: medium;
	border-top-color: #12A3EB;
	border-bottom:0px solid;
	font-weight: bold;
	text-transform:uppercase;
}

.rolesignupheader:hover {
    opacity:0.75; // css standard
}

    
.rolesignupbody {
	margin: 1%;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}


.rolesignupbody:hover {
    opacity:0.75; // css standard

}

.roleunavailable {
	background-color:#FFFFFF;
	width:160px; 
	float:left; 
	margin: 1%;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.roleunavailable:hover {
    opacity:0.75; // css standard

}



/* Calendar view */

/* display days in calendar day/month/week view) */
table.table1 tbody tr.daynames {
    background-color: #BFC1CF;
    font-weight: bold;
}

table.table1 tbody td.bg1.calMon {
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
}

/* today and highlighted day */
table.table1 tbody td.bg2.calMon {
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
}

/* hover over highlighted day */
td.bg2.calMon a:hover {
	text-decoration: none;
}

td.bg1.calMon a:hover {
	text-decoration: none;
}

/* filler headers */
table tbody td.bg3.calMonH {
	font-size: 85%
}

td.bg3.calMonH a:hover {
	text-decoration: none;
}

/* filler day */
table.table1 tbody td.bg3.calMon {
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
}

td.bg3.calMon a:hover {
	text-decoration: none;
}

/* highlight header */
table tbody td.bg4.calMonH {
	font-size: 85%
}

td.bg4.calMonH a:hover {
	text-decoration: none;
}

/*    day css   */
table.table1 tbody td.bg1_calDay {
	background-color: #ECF3F7;
	border-top-color: #12A3EB;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}


table.table1 tbody td.bg1_calDay:hover {
	background-color: #cadceb;
	border-top-color: #12A3EB;
}

td.bg1_calDay a:hover {
	text-decoration: none;
}


table.table1 tbody td.bg3_calDay {
	background-color: #cadceb;
	border-top-color: #12A3EB;
}

td.bg3_calDay a:hover {
	text-decoration: none;
}


/* raid view pane: less space in datalist */
fieldset.rpfields dl {
	padding: 0.5px 0;
}





/* imagesets */
.buttons div.planner-new-icon {
	background: url("{T_IMAGESET_PATH}/planner/date_add.png") no-repeat;
	width: 16px;
	height: 16px;
	text-align: left;
}

.buttons div.planner-day-icon {
	background: url("{T_IMAGESET_PATH}/planner/calendar_view_day.png") no-repeat;
	width: 16px;
	height: 16px;
	text-align: left;
}

.buttons div.planner-week-icon {
	background: url("{T_IMAGESET_PATH}/planner/calendar_view_week.png") no-repeat;
	width: 16px;
	height: 16px;
	text-align: left;
}

.buttons div.planner-month-icon {
	background: url("{T_IMAGESET_PATH}/planner/calendar_view_month.png") no-repeat;
	width: 16px;
	height: 16px;
	text-align: left;
}

.buttons div.planner-edit-all-icon {
	background-image: url("{T_IMAGESET_LANG_PATH}/planner/icon_calendar_edit_all.gif");
	width: 61px;
	height: 20px;
	text-align: left;
}

.buttons div.planner-delete-all-icon {
	background-image: url("{T_IMAGESET_LANG_PATH}/planner/icon_calendar_delete_all.gif");
	width: 40px;
	height: 20px;
	text-align: left;
}

.buttons div.planner-edit-icon {
	background-image: url("{T_IMAGESET_LANG_PATH}/icon_post_edit.gif");
	width: 42px;
	height: 20px;
	
}

.buttons div.planner-delete-icon {
	background-image: url("{T_IMAGESET_PATH}/icon_post_delete.gif");
	width: 20px;
	height: 20px;
	
}
