<!-- INCLUDE overall_header.html -->

  <div class="forumbg forumbg-table">
  	<div class="inner"><span class="corners-top"><span></span></span>
      <table style="width: 80%; text-align: center;margin-left: auto; margin-right: auto;" cellpadding="0" cellspacing="0"><tr><td style="text-align: center; width: 16%"><a href="{CALENDAR_PREV}"><span class="calH1">&lt;&lt;</span></a></td>
      <td style="width: 8%">&nbsp;</td>
      <td style="width: 32%"><h1 style="text-align: center;margin-left: auto; margin-right: auto;">{CALENDAR_HEADER}</h1></td>
      <td style="width: 8%">&nbsp;</td>
      <td style="text-align: center; width: 16%"><a href="{CALENDAR_NEXT}"><span class="calH1">&gt;&gt;</span></a></td>
      </tr>
      <tr><td colspan="5" style="text-align: center">
      <form id="viewOpts" method="post" action="{S_POST_ACTION}">
	  <p>
      {CALENDAR_VIEW_OPTIONS}<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="button1" />
		</p>
      </form>
	  </td></tr>
      </table>

  <table style="width: 100%; text-align: center"><tr><td style="width: 100%; text-align: center; margin-left: auto; margin-right: auto;">
  <table class="table1" style="width: 100%" cellspacing="0" cellpadding="0" border="0">
    <!-- IF .time_headers -->
    <tr>
      <!-- BEGIN time_headers -->
      <td style="width: 4.166%; text-align: center" colspan="4" class="bg4">{time_headers.TIME} {time_headers.AM_PM}</td>
      <!-- END time_headers -->
    </tr>
    <!-- ENDIF -->
    <!-- IF EVENT_COUNT -->
	    <!-- BEGIN events -->

	    <tr>
	      <!-- IF events.PRE_PADDING --><td colspan="{events.PRE_PADDING}" class="bg3_calDay">&nbsp;</td><!-- ENDIF -->
	      <td colspan="{events.PADDING}" class="bg1_calDay" style="text-align: center;">
	      		<!-- IF events.EVENT_URL -->
          		<a href="{events.EVENT_URL}" title="<!-- IF events.ETYPE_DISPLAY_NAME -->{events.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{events.FULL_SUBJECT}">
          			<!-- IF events.COLOR --><span style="color:#{events.COLOR}"><!-- ENDIF -->
          			<!-- IF events.DISPLAY_BOLD --><strong><!-- ENDIF -->
          			<!-- IF events.IMAGE --><img src="{events.IMAGE}" alt="{events.ETYPE_DISPLAY_NAME}" /> <!-- ENDIF -->
          			<!-- IF events.ETYPE_DISPLAY_NAME -->{events.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{events.EVENT_SUBJECT}
          			<!-- IF events.DISPLAY_BOLD --></strong><!-- ENDIF --><br /><span class="smCalText">
          					<!-- IF events.ALL_DAY -->{L_ALL_DAY}
          					<!-- ELSE -->{L_FROM_TIME}: {events.START_TIME}
          					<br />{L_TO_TIME}: {events.END_TIME}
          					<!-- ENDIF --></span>
          			<!-- IF events.COLOR --></span><!-- ENDIF -->
          		</a>
          		<!-- ELSE -->
          		{events.DATA}
          		<!-- ENDIF -->
	      </td>
	      <!-- IF events.POST_PADDING --><td colspan="{events.POST_PADDING}" class="bg3_calDay">&nbsp;</td><!-- ENDIF -->
	    </tr>
	    <!-- END events -->
    <!-- ELSE -->
	    <tr>
	      <td colspan="96" class="bg1_calDay" style="text-align: center">&nbsp;<br />{L_NO_EVENTS_TODAY}<br />&nbsp;</td>
	    </tr>
    <!-- ENDIF -->
  </table>
  </td></tr></table>

  <span class="corners-bottom"><span></span></span></div>
  </div>
      	      <div class="buttons">
		      <!-- IF ADD_LINK --><div class="calendar-new-icon"><a href="{ADD_LINK}" title="{L_NEW_EVENT}"><span></span></a></div><!-- ENDIF -->
	  	      <div class="calendar-week-icon"><a href="{WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div>
	          <div class="calendar-month-icon"><a href="{MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div>
	          </div>

<!-- INCLUDE overall_footer.html -->
