<!-- INCLUDE overall_header.html -->

	<h2><a href="{U_CALENDAR}">{L_CALENDAR_TITLE}</a></h2>

<form id="postform" name="postform" method="post" action="{S_POST_ACTION}" onsubmit="return checkForm(this);">

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE calendar_post_preview.html --><!-- ENDIF -->

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
      	      <br /><div class="buttons">
	  	      <div class="calendar-day-icon"><a href="{DAY_VIEW_URL}" title="{L_DAY}"><span></span></a></div>
	          <div class="calendar-week-icon"><a href="{WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div>
	          <div class="calendar-month-icon"><a href="{MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div>
	          </div><br />&nbsp;<br />

	<h3>{L_POST_A}</h3>

	<!-- INCLUDE calendar_post_editor.html -->

      	      <br /><div class="buttons">
	  	      <div class="calendar-day-icon"><a href="{DAY_VIEW_URL}" title="{L_DAY}"><span></span></a></div>
	          <div class="calendar-week-icon"><a href="{WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div>
	          <div class="calendar-month-icon"><a href="{MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div>
	          </div><br />
	<span class="corners-bottom"><span></span></span></div>
</div>
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons">
			{S_HIDDEN_ADDRESS_FIELD}
			{S_HIDDEN_FIELDS}
			<!-- IF S_HAS_DRAFTS --><input type="submit" accesskey="d" tabindex="9" name="load" value="{L_LOAD}" class="button2" onclick="load_draft = true;" />&nbsp; <!-- ENDIF -->
			<!-- IF S_SAVE_ALLOWED --><input type="submit" accesskey="k" tabindex="8" name="save" value="{L_SAVE}" class="button2" />&nbsp; <!-- ENDIF -->
			<input type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" class="button1"<!-- IF not S_PRIVMSGS --> onclick="document.getElementById('postform').action += '#preview';"<!-- ENDIF --> />&nbsp;
			<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="button1" />&nbsp;

		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
