<h4><img src="{T_IMAGESET_PATH}/planner/icon_queue.png" alt="{L_AVAILABLE}"></img>&nbsp;{L_AVAILABLE}</h4>

<div class="panel bg2" >
<div class="inner"><span class="corners-top"><span></span></span>
<div style="width:95%; margin-left:auto;margin-right:auto;text-align:left" > 

<!-- BEGIN raidroles -->
<div style="width:160px; float:left ;">
<table class="table1" style="width:100%; cellspacing:0; cellpadding:5">
<thead>
	<th class="rolesignup" style="background-color:{raidroles.ROLE_COLOR}; border-bottom:0px solid"> 
	<!-- IF raidroles.S_ROLE_ICON_EXISTS --><img src="{raidroles.ROLE_ICON}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
	<strong>{raidroles.ROLE_NAME}: {raidroles.ROLE_SIGNEDUP}/{raidroles.ROLE_NEEDED}</strong></th>
</thead>
<tbody>

<!-- BEGIN signups -->
<tr style="background-color:{raidroles.ROLE_COLOR}; border-bottom:0px solid">
	<td><strong><a>{raidroles.signups.POSTER_URL}</a></strong><br />
	
	<span><!-- IF raidroles.signups.S_RACE_IMAGE_EXISTS --><img src="{raidroles.signups.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
	<!-- IF raidroles.signups.S_CLASS_IMAGE_EXISTS --><img src="{raidroles.signups.CLASS_IMAGE}" alt="{raidroles.signups.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
	<strong><span style="color:{raidroles.signups.COLORCODE}">{raidroles.signups.CHARNAME}</span></strong></span> <br />
	{raidroles.signups.POST_TIME}<br />
	{raidroles.signups.DETAILS}<br /> 
	<!-- IF S_EDIT_SIGNUP -->
		<a href="{raidroles.signups.U_EDIT}">{L_EDIT}</a>
	<!-- ENDIF -->
	
	</td>
</tr>
<!-- END signups -->

</tbody>
</table>
</div>
<!-- END raidroles -->
</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>