<!-- post editor start -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/planner/raidplan/planner_post_body_editor.js"></script>
  
<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
  
<!-- IF S_POST_ACTION -->

<div class="panel bg2">
<div class="inner">
<span class="corners-top"><span></span></span>

<div style="width:100%; clear:both;">

<fieldset class="fields1">
  	<dl style="clear: left;">
		<dt><label for="subject">{L_SUBJECT}:</label></dt>
		<dd><input type="text" name="subject" id="subject" size="50" maxlength="100" tabindex="2" value="{SUBJECT}" class="inputbox autowidth" /></dd>
	</dl>
</fieldset>
<!-- INCLUDE planner/raidplan/planner_post_body_editor_buttons.html -->
		<div id="smiley-box">
			<!-- IF S_SMILIES_ALLOWED and .smiley -->
				<strong>{L_SMILIES}</strong><br />
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" 
					height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
				<!-- END smiley -->
			<!-- ENDIF -->
			<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
				<br /><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;">{L_MORE_SMILIES}</a>
			<!-- ENDIF -->
	
			<!-- IF BBCODE_STATUS -->
			<!-- IF .smiley --><hr /><!-- ENDIF -->
			{BBCODE_STATUS}<br />
			<!-- IF S_BBCODE_ALLOWED -->
				{IMG_STATUS}<br />
				{FLASH_STATUS}<br />
				{URL_STATUS}<br />
				{SMILIES_STATUS}
			<!-- ENDIF -->
			<!-- ENDIF -->
		</div>

		<div id="message-box">
			<textarea name="message" id="message" rows="10" cols="60" tabindex="3" onselect="storeCaret(this);" 
			onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{MESSAGE}</textarea>
		</div>

</div>

<span class="corners-bottom"><span></span></span>
</div>
</div>

<div id="tabs">
	<ul>
		<li id="raidinfo-panel-tab" class="activetab"><a href="#tabs" onclick="subPanels('raidinfo-panel'); return false;"><span>{L_RAIDINFO}</span></a></li>
		<li id="raidroles-panel-tab"><a href="#tabs" onclick="subPanels('raidroles-panel'); return false;"><span>{L_RAIDROLES}</span></a></li>
		<li id="raidwhen-panel-tab"><a href="#tabs" onclick="subPanels('raidwhen-panel'); return false;"><span>{L_RAIDWHEN}</span></a></li>
	</ul>
</div>
		
<div class="panel bg2" id="raidinfo-panel">
<div class="inner">
<span class="corners-top"><span></span></span>
  <h3>{L_RAIDINFO}</h3>
  <fieldset class="fields1">
  	<br/>
	<!-- fetch the event types from bbDKP -->
	<dl style="clear: left;">
		<dt><label for="calEType">{L_EVENT_TYPE}:</label></dt>
		<dd>
			<select name='calEType' id='calEType'>{EVENT_TYPE_SEL}</select>
	    </dd>
	</dl>
	
	<dl style="clear: left;">
		<dt><label for="calELevel">{L_EVENT_ACCESS_LEVEL}:</label></dt>
		<dd><select name='calELevel' id='calELevel' onchange='update_group_id_state();'>
		{EVENT_ACCESS_LEVEL_SEL}
		</select>
		</dd>
	</dl>
	<dl style="clear: left;">
		<dt><label for="calGroupId">{L_EVENT_GROUP}:</label></dt>
		<dd>{EVENT_GROUP_SEL}</dd>
	</dl>
	
  </fieldset>
 
<span class="corners-bottom"><span></span></span>
</div>
</div>

<div class="panel bg2" id="raidroles-panel">
<div class="inner">
<span class="corners-top"><span></span></span>
 <h3>{L_RAIDROLES}</h3>
	<fieldset class="fields1">
		<br/>
		<dl style="clear: left;">
		<dt><label>{L_CHOOSEPROFILE}</label>  </dt>
		<dd>
		<input type="radio" name="raidcomposition" onclick="update_roles(1);" value="1" checked /> {L_RAIDPROFILE1}
     	<input type="radio" name="raidcomposition" onclick="update_roles(2);" value="2"/> {L_RAIDPROFILE2}
		</dd>
		<div id="raidroles">
	<!-- BEGIN raidroles -->
		<dt><label for="subject">{raidroles.ROLE_NAME}:</label></dt>
		<dd>
			<input type="hidden" name="role[{raidroles.ROLE_ID}]" value="{raidroles.ROLE_ID}" />
			<input type="text" name="role_needed[{raidroles.ROLE_ID}]" size="5" maxlength="2" tabindex="2" value="{raidroles.ROLE_NEEDED}" class="inputbox autowidth" />
		</dd>
	<!-- END raidroles -->
		</div>
	</dl>
	</fieldset>
<span class="corners-bottom"><span></span></span>
</div>
</div> 

<div class="panel bg2" id="raidwhen-panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<h3>{L_RAIDWHEN}</h3>
<fieldset class="fields1"> 
	  
		<dl style="clear: right;">
			<dt><label for="calinvHr">{L_RAID_INVITE_TIME}:</label></dt>
			<dd>
				<select name='calinvHr' id='calinvHr'>{INVITE_HOUR_SEL}</select>
				<select name='calinvMn' id='calinvMn'>{INVITE_MIN_SEL}</select>
			</dd>
		</dl>
		<dl style="clear: right;">
			<dt><label for="calHr">{L_RAID_START_TIME}:</label></dt>
			<dd>
				<select name='calHr' id='calHr'>{START_HOUR_SEL}</select>
				<select name='calMn' id='calMn'>{START_MIN_SEL}</select>
			</dd>
		</dl>
		<dl style="clear: right;">
			<dt><label for="calEndHr">{L_RAID_END_TIME}:</label></dt>
			<dd>
				<select name='calEndHr' id='calHr'>{END_HOUR_SEL}</select>
				<select name='calEndMn' id='calMn'>{END_MIN_SEL}</select>
			</dd>
		</dl>
				
		
		<dl style="clear: left;">
		<dt><label>{L_TRACK_SIGNUPS}:</label></dt>
		<dd><input type='checkbox' name='calTrackRsvps' value='1' {TRACK_RSVP_CHECK} /></dd>
		</dl> 
	
    </fieldset>
 
<span class="corners-bottom"><span></span></span>
</div>
</div>



<!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[
	subPanels(show_panel);
// ]]>
</script>


<!-- post editor end -->
