<!-- [+] AVAILABLE SIGNUPS -->
<h4><img src="{T_IMAGESET_PATH}/planner/icon_queue.png" alt="{L_AVAILABLE}"></img>&nbsp;{L_AVAILABLE}</h4>

<div class="panel bg2">
<div class="inner"><span class="corners-top"><span></span></span>
<div style="width:95%; margin-left:auto;margin-right:auto;text-align:left" > 

<!-- BEGIN raidroles -->
<!-- IF raidroles.ROLE_DISPLAY -->
<div id="raid_role{raidroles.ROLE_ID}" style="width:160px; float:left; " >

<div id="raid_role_head{raidroles.ROLE_ID}" class="rolesignupheader" style="background-color:{raidroles.ROLE_COLOR};" >
	<!-- IF raidroles.S_ROLE_ICON_EXISTS --><img src="{raidroles.ROLE_ICON}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
	<strong>{raidroles.ROLE_NAME}</strong>
</div>
<br />

<!-- BEGIN signups -->
<div id="signup{raidroles.signups.SIGNUP_ID}" class="rolesignupbody" style="background-color:{raidroles.ROLE_COLOR};">
	<strong>{raidroles.signups.POSTER_URL}</strong><br />
	<span><!-- IF raidroles.signups.S_RACE_IMAGE_EXISTS --><img src="{raidroles.signups.RACE_IMAGE}" alt="race_{raidroles.signups.CHARNAME}" />&nbsp;<!-- ELSE --><!-- ENDIF -->
	<!-- IF raidroles.signups.S_CLASS_IMAGE_EXISTS --><img src="{raidroles.signups.CLASS_IMAGE}" alt="class_{raidroles.signups.CHARNAME}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
	<strong><span style="color:{raidroles.signups.COLORCODE}"><a href="{raidroles.signups.U_MEMBERDKP}">{raidroles.signups.CHARNAME}</a></span></strong></span> <br />
	{L_DKP} : {raidroles.signups.DKP_CURRENT}, {L_ATTENDANCE} : {raidroles.signups.ATTENDANCEP1}<br />
	{raidroles.signups.POST_TIME}<br />
	<span class="modalinput">{raidroles.signups.DETAILS}</span><br /> 
</div>

<div id="signupaction{raidroles.signups.SIGNUP_ID}" style="text-align:right; background-color:transparent;">
	<!-- IF raidroles.signups.S_EDIT_SIGNUP -->
	<img src="{T_IMAGESET_PATH}/planner/icon_edit.png" alt="{L_EDIT}" class="modalInput_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}"" class="#prompt_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}" />
	<!-- ENDIF -->
	<!-- IF raidroles.signups.S_DELETE_SIGNUP -->
		<a href="{raidroles.signups.U_DELETE}"><img src="{T_IMAGESET_PATH}/planner/icon_cancel.png" alt="{L_NOTAVAILABLE}"></a>
		<input type="hidden" name="keycheck" value="{raidroles.signups.DELETEKEY}">
	<!-- ENDIF -->
	<!-- IF raidroles.signups.S_CANCONFIRM -->
		<a href="{raidroles.signups.U_CONFIRM}"><img src="{T_IMAGESET_PATH}/planner/icon_signed_up.png" alt="{L_CONFIRMED}"></a>
	<!-- ENDIF -->
</div>
<br />

<!-- END signups -->

</div>
<!-- ENDIF -->
<!-- END raidroles -->
</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- [+] tooltip -->
<!-- BEGIN raidroles -->
<!-- BEGIN signups -->
<div id="prompt_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}" class="bbtooltip">
	<div class="bbinner">
		<div class="t"></div>
		<br />
		<form id="editsignup_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}" name="editsignup_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}"
			  method="post" action="{raidroles.signups.S_SIGNUP_EDIT_ACTION}">
			<span><!-- IF raidroles.signups.S_RACE_IMAGE_EXISTS --><img src="{raidroles.signups.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
				<!-- IF raidroles.signups.S_CLASS_IMAGE_EXISTS --><img src="{raidroles.signups.CLASS_IMAGE}" alt="{raidroles.signups.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
				<strong><span style="color:{raidroles.signups.COLORCODE}">{raidroles.signups.CHARNAME}</span></strong>
			</span><br />
			<textarea class="commentedit" name="signup_detail_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}" rows="4" cols="25">{raidroles.signups.DETAILS}</textarea>
			<br/><br />
			<input type="submit" accesskey="s" name="signmeup{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}" value="{L_SUBMIT}" class="button1" />
		</form>
		<br />
	</div>
	<div class="b"><div></div></div> 
</div>
<script type="text/javascript">
	jQuery.noConflict();
	jQuery(document).ready(function() 
	{

	var triggers_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID} = $(".modalInput_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}").overlay({
		mask: {
			color: '#262626',
			loadSpeed: 200,
			opacity: 0.9
		},
 		closeOnClick: true,
	})
	
	jQuery("#editsignup_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}").submit(function(e)
	{
		var input = $("#signup_detail_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}", this).val();
		jQuery.post("{raidroles.signups.S_SIGNUP_EDIT_ACTION}".serialize());
		triggers_{raidroles.signups.RAIDPLAN_ID}_{raidroles.signups.SIGNUP_ID}.eq(1).overlay().close();
		return e.preventDefault();
		
	});
	
	});

	
</script>
<!-- END signups -->
<!-- END raidroles -->
<!-- [-] tooltip -->
<!-- [-] AVAILABLE SIGNUPS -->