<h4><img src="{T_IMAGESET_PATH}/planner/icon_cancel.png" alt="{L_NOTAVAILABLE}"></img>&nbsp;{L_NOTAVAILABLE}</h4>
<div class="panel bg1" >
<div class="inner"><span class="corners-top"><span></span></span>
<div style="width:95%; margin-left:auto;margin-right:auto;text-align:left" > 


<div style="width:160px; float:left ;">
<table class="table1" style="width:100%; cellspacing:0; cellpadding:5">
<thead>
	<th class="rolesignup" style="background-color:red; border-bottom:0px solid"> 
	<strong>{L_NOTAVAILABLE}</strong></th>
</thead>
<tbody>
<!-- BEGIN unavailable -->
<tr style="background-color:{unavailable.ROLE_COLOR}; border-bottom:0px solid">
	<td><strong><a>{unavailable.POSTER_URL}</a></strong><br />
	
	<span><!-- IF unavailable.S_RACE_IMAGE_EXISTS --><img src="{unavailable.RACE_IMAGE}" alt="" />&nbsp;<!-- ELSE --><!-- ENDIF -->
	<!-- IF unavailable.S_CLASS_IMAGE_EXISTS --><img src="{unavailable.CLASS_IMAGE}" alt="{unavailable.CLASS}" /><!-- ELSE -->&nbsp;<!-- ENDIF -->
	<strong><span style="color:{unavailable.COLORCODE}">{unavailable.CHARNAME}</span></strong></span> <br />
	{unavailable.POST_TIME}<br />
	{unavailable.DETAILS}<br /> 
	<!-- IF S_EDIT_SIGNUP -->
		<a href="{unavailable.U_EDIT}">{L_EDIT}</a>
	<!-- ENDIF -->
	
	</td>
</tr>
<!-- END unavailable -->
</tbody>
</table>
</div>

</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>