<fieldset>
<div id="rpsignup">
<!-- IF S_CANSIGNUP -->
	<form method="post" action="{S_SIGNUP_MODE_ACTION}" name="signup_form" id="signup_form">
	<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<fieldset>
	<dl>
		<dt>{L_CALENDAR_WILL_ATTEND}</dt>
		<dd>{SEL_ATTEND}</dd>
	
		<dt>{L_RAIDROLE}</dt>
		<dd><select id="signuprole" name="signuprole">{S_ROLE_OPTIONS}</select></dd>
	
		<dt>{L_RAIDCHARACTER}</dt>
		<dd><select id="signupchar" name="signupchar">{S_RAIDMEMBER_OPTIONS}</select></dd>
	
		<dt>&nbsp;<br />
		{L_COMMENTS}</dt>
		<dd><textarea name="signup_detail" id="signup_detail" rows="4"
			cols="25">{CURR_SIGNUP_DETAIL}</textarea></dd>
		<dt>&nbsp;</dt>
		<dd><input type="hidden" name="hidden_signup_id" id="hidden_signup_id" value="{CURR_SIGNUP_ID}" />
			<input type="submit" name="signmeup" value="{L_SUBMIT}" class="button1" /></dd>
	</dl>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
	</div>
	</form>
<!-- ELSE -->
	<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<p class="error">{L_CANNOTSIGNUP}</p>
	<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
</div>
</fieldset>