<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/dkpmenu.html -->
<div class="forabg"><span class="corners-top"><span></span></span>
<div style="width:50%; float: left;">
<h1 style="color: #dfc065">{L_CALENDAR_TITLE}</h1>
</div>
<div style="width:50%; float: right;">
<div class="buttons" style="float: right;"><!-- IF ADD_LINK -->
<div class="calendar-new-icon"><a href="{ADD_LINK}"
	title="{L_NEW_EVENT}"><span></span></a></div>
<!-- ENDIF -->
<div class="calendar-day-icon"><a href="{DAY_VIEW_URL}"
	title="{L_DAY}"><span></span></a></div>
<div class="calendar-week-icon"><a href="{WEEK_VIEW_URL}"
	title="{L_WEEK}"><span></span></a></div>
<div class="calendar-month-icon"><a href="{MONTH_VIEW_URL}"
	title="{L_MONTH}"><span></span></a></div>
</div>
</div>
<br />

<span class="corners-bottom"><span></span></span></div>

<h2><!-- IF EVENT_COLOR --><span style="color: #{EVENT_COLOR}"><!-- ENDIF -->
<!-- IF EVENT_IMAGE --><img src="{EVENT_IMAGE}" /> <!-- ENDIF --> <!-- IF ETYPE_DISPLAY_NAME -->{ETYPE_DISPLAY_NAME}:
<!-- ENDIF -->{SUBJECT} <!-- IF EVENT_COLOR --></span><!-- ENDIF --></h2>
<br />

<div class="panel">
<div class="inner"><span class="corners-top"><span></span></span>

<div class="postbody" style="width: 100%"><!-- IF U_DELETE or U_EDIT -->
<ul class="profile-icons">
	<!-- IF U_EDIT -->
	<li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li>
	<!-- ENDIF -->
	<!-- IF U_EDIT_ALL -->
	<li class="edit-all-icon"><a href="{U_EDIT_ALL}"
		title="{L_EDIT_ALL_EVENTS}"><span>{L_EDIT_ALL_EVENTS}</span></a></li>
	<!-- ENDIF -->
	<!-- IF U_DELETE -->
	<li class="delete-icon"><a href="{U_DELETE}"
		title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li>
	<!-- ENDIF -->
	<!-- IF U_DELETE_ALL -->
	<li class="delete-all-icon"><a href="{U_DELETE_ALL}"
		title="{L_DELETE_ALL_EVENTS}"><span>{L_DELETE_ALL_EVENTS}</span></a></li>
	<!-- ENDIF -->
</ul>
<!-- ENDIF -->

<div class="panel">
<div class="inner"><span class="corners-top"><span></span></span>

<div class="content">{L_EVENT_CREATED_BY} {POSTER} <!-- IF ALL_DAY -->
<h4>{L_ALL_DAY}: {START_DATE}<!-- IF IS_RECURRING --><br />
&nbsp;<br />
{L_OCCURS_EVERY}: {RECURRING_TXT}<!-- ENDIF --></h4>
<!-- ELSE -->
<h4>{L_FROM_TIME}: {START_DATE} {L_TO_TIME}: {END_DATE}<!-- IF IS_RECURRING --><br />
&nbsp;<br />
{L_OCCURS_EVERY}: {RECURRING_TXT}<!-- ENDIF --></h4>
<!-- ENDIF --> {MESSAGE}<br />
{L_INVITE_INFO}: {INVITED}<br />
</div>
</div>
</div>

<div class="panel">
<div class="inner"><span class="corners-top"><span></span></span>

<br />
<!-- IF S_CALENDAR_SIGNUPS --> <!-- IF S_SIGNUP_HEADCOUNT -->
<h3>{L_HOW_MANY_PEOPLE}</h3>
<table>
	<tr style="font-weight: bold;">
		<td align="center" width="60">{L_YES}</td>
		<td align="center" width="60">{L_NO}</td>
		<td align="center" width="60">{L_MAYBE}</td>
	</tr>
	<tr>
		<td align="center">{CURR_YES_COUNT}</td>
		<td align="center">{CURR_NO_COUNT}</td>
		<td align="center">{CURR_MAYBE_COUNT}</td>
	</tr>
</table>
<br />
<!-- ENDIF -->

<h3>{L_DETAILS}</h3>
<table class="sortable">
	<tr id='head' style="font-weight: bold;">
		<th valign="bottom"
			style="border-bottom-style: solid; border-bottom-width: 1px;"
			align="left" width="17%"><a>{L_USERNAME}</a></th>

		<th valign="bottom"
			style="border-bottom-style: solid; border-bottom-width: 1px;"
			align="left" width="9%"><a>{L_COL_WILL_ATTEND}</a></th>
		<th valign="bottom"
			style="border-bottom-style: solid; border-bottom-width: 1px;"
			align="left" width="35%"><a>{L_COMMENTS}</a></th>
		<th valign="bottom"
			style="border-bottom-style: solid; border-bottom-width: 1px;"
			align="left" width="25%"><a>{L_POST_TIME}</a></th>
		<!-- IF S_EDIT_SIGNUP -->
		<th valign="bottom"
			style="border-bottom-style: solid; border-bottom-width: 1px;"
			align="left" width="8%"><a>{L_EDIT}</a></th>
		<!-- ENDIF -->
	</tr>
	<!-- BEGIN signups -->
	<tr>
		<td align="left"><span style="display: none">{signups.POSTER}</span>{signups.POSTER_URL}</td>

		<td align="left">{signups.VALUE_TXT}</td>
		<td align="left">{signups.DETAILS}</td>
		<td align="left"><span style="display: none">{signups.POST_TIMESTAMP}</span>{signups.POST_TIME}</td>
		<!-- IF S_EDIT_SIGNUP -->
		<td align="left"><a href="{signups.U_EDIT}">{L_EDIT}</a></td>
		<!-- ENDIF -->
	</tr>
	<!-- END signups -->
</table>
<br />
&nbsp;<br />
<!-- ENDIF -->


</div>
</div>

</div>

<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF S_CURRENT_SIGNUP -->
<form method="post" action="{S_SIGNUP_MODE_ACTION}" name="signup_form"
	id="signup_form">
<div class="panel bg2">
<div class="inner"><span class="corners-top"><span></span></span>
<h3 class="solo">{L_CALENDAR_RESPOND} : {CURR_POSTER_URL}</h3>
<fieldset>
<dl>
	<dt>{L_CALENDAR_WILL_ATTEND}</dt>
	<dd>{SEL_ATTEND}</dd>

	<dt>&nbsp;<br>
	{L_COMMENTS}</dt>
	<dd><textarea name="signup_detail" id="signup_detail" rows="4"
		cols="25">{CURR_SIGNUP_DETAIL}</textarea></dd>
	<dt>&nbsp;</dt>
	<dd><input type="hidden" name="signup_id" id="signup_id"
		value="{CURR_SIGNUP_ID}" /><input type="submit" name="post"
		value="{L_SUBMIT}" class="button1" /></dd>
</dl>
</fieldset>
<span class="corners-bottom"><span></span></span></div>
</div>


</form>
<!-- ENDIF -->

<hr />
<!-- INCLUDE overall_footer.html -->
