<!-- INCLUDE overall_header.html -->
<!-- INCLUDE dkp/module/menu.html -->
<div class="forabg">
<span class="corners-top"><span></span></span>
<div style="width:50%; float: left;">
<h1> <span style="color:#<!-- IF EVENT_COLOR -->{EVENT_COLOR}<!--ELSE -->dfc065<!-- ENDIF -->">
<!-- IF EVENT_IMAGE --><img src="{EVENT_IMAGE}" /> <!-- ENDIF --> <!-- IF ETYPE_DISPLAY_NAME -->{ETYPE_DISPLAY_NAME}:
<!-- ENDIF -->{SUBJECT} <!-- IF EVENT_COLOR --></span><!-- ENDIF --></h1>

</div>
<div style="width:50%; float: right;">
<div class="buttons" style="float: right;"><!-- IF ADD_LINK -->
<div class="planner-new-icon"><a href="{ADD_LINK}"
	title="{L_NEW_EVENT}"><span></span></a></div>
<!-- ENDIF -->
<div class="planner-day-icon"><a href="{DAY_VIEW_URL}"
	title="{L_DAY}"><span></span></a></div>
<div class="planner-week-icon"><a href="{WEEK_VIEW_URL}"
	title="{L_WEEK}"><span></span></a></div>
<div class="planner-month-icon"><a href="{MONTH_VIEW_URL}"
	title="{L_MONTH}"><span></span></a></div>
</div>
</div>
<br />

<span class="corners-bottom"><span></span></span></div>





<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<!-- raid message -->
<div class="postbody" style="width: 100%">
	<!-- IF U_DELETE or U_EDIT -->
	<ul class="profile-icons">
		<!-- IF U_EDIT -->
		<li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li>
		<!-- ENDIF -->
		<!-- IF U_EDIT_ALL -->
		<li class="edit-all-icon"><a href="{U_EDIT_ALL}"
			title="{L_EDIT_ALL_EVENTS}"><span>{L_EDIT_ALL_EVENTS}</span></a></li>
		<!-- ENDIF -->
		<!-- IF U_DELETE -->
		<li class="delete-icon"><a href="{U_DELETE}"
			title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li>
		<!-- ENDIF -->
		<!-- IF U_DELETE_ALL -->
		<li class="delete-all-icon"><a href="{U_DELETE_ALL}"
			title="{L_DELETE_ALL_EVENTS}"><span>{L_DELETE_ALL_EVENTS}</span></a></li>
		<!-- ENDIF -->
	</ul>
	<!-- ENDIF -->
<div class="content">
{MESSAGE}
</div>
</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>



<!--  raid information -->
<div class="panel">
<div class="inner"><span class="corners-top"><span></span></span>
<!-- IF IS_RECURRING --><h4><br />&nbsp;<br />{L_OCCURS_EVERY}: {RECURRING_TXT}</h4><!-- ENDIF -->

<table class="table1" style="width:90%; margin-left:auto;margin-right:auto;text-align:left" ">
<tbody>
<tr>
<td>
{L_EVENT_CREATED_BY}
</td>
<td>
{POSTER}
</td>

<td style="width:25%">
<!-- IF S_SIGNUP_HEADCOUNT -->
{L_YES}
<!-- ENDIF -->
</td>
<td style="width:25%">
<!-- IF S_SIGNUP_HEADCOUNT -->
{CURR_YES_COUNT}
<!-- ENDIF -->
</td>

</tr>

<tr>
<td style="width:25%">
<!-- IF ALL_DAY -->
{L_ALL_DAY}
<!-- ELSE -->
{L_FROM_TIME}
<!-- ENDIF -->
</td>
<td style="width:25%">
{START_DATE}
</td>
<td style="width:25%">
<!-- IF S_SIGNUP_HEADCOUNT -->
{L_NO}
<!-- ENDIF -->
</td>
<td style="width:25%">
<!-- IF S_SIGNUP_HEADCOUNT -->
{CURR_NO_COUNT}
<!-- ENDIF -->
</td>

</tr>

<tr>
<td style="width:25%">
<!-- IF ! ALL_DAY -->
{L_TO_TIME}:
<!-- ENDIF -->
</td>
<td style="width:25%">
 {END_DATE}
</td>

<td style="width:25%">
<!-- IF S_SIGNUP_HEADCOUNT -->
{L_MAYBE}
<!-- ENDIF -->
</td>
<td style="width:25%"> 
<!-- IF S_SIGNUP_HEADCOUNT -->
{CURR_MAYBE_COUNT}
<!-- ENDIF -->
</td>

</tr>

<tr>
<td style="width:25%">
{L_INVITE_INFO}
</td>
<td style="width:25%">
{INVITED}
</td>


</tr>

</tbody>
</table>

<span class="corners-bottom"><span></span></span></div>
</div>






<!-- IF S_CURRENT_SIGNUP -->
<form method="post" action="{S_SIGNUP_MODE_ACTION}" name="signup_form" id="signup_form">
<div class="panel bg2">
<div class="inner"><span class="corners-top"><span></span></span>
<h3 class="solo">{L_CALENDAR_RESPOND} : {CURR_POSTER_URL}</h3>
<fieldset>
<dl>
	<dt>{L_CALENDAR_WILL_ATTEND}</dt>
	<dd>{SEL_ATTEND}</dd>

	<dt>{L_RAIDROLE}</dt>
	<dd>{SEL_ROLE}</dd>

	<dt>&nbsp;<br />
	{L_COMMENTS}</dt>
	<dd><textarea name="signup_detail" id="signup_detail" rows="4"
		cols="25">{CURR_SIGNUP_DETAIL}</textarea></dd>
	<dt>&nbsp;</dt>
	<dd><input type="hidden" name="signup_id" id="signup_id"
		value="{CURR_SIGNUP_ID}" /><input type="submit" name="post"
		value="{L_SUBMIT}" class="button1" /></dd>
</dl>
</fieldset>
<span class="corners-bottom"><span></span></span></div>
</div>


</form>
<!-- ENDIF -->

<hr />
<!-- INCLUDE overall_footer.html -->
