<script type="text/javascript"> 
/* jqt tooltips */
<!-- IF EVENT_COUNT -->
$(document).ready( function() 
{
<!-- BEGIN raidplans -->
	$("#raid_id{raidplans.RAID_ID}").tooltip({ offset: [50, 120],  effect: 'fade', opacity: 0.95});  
<!-- END raidplans -->
}
);
<!-- ENDIF -->
</script>

<!-- left sidebar -->
<div style="float: left; width: 0%; margin-left:0.5%">

</div>
<!-- middle div -->

<div style="float: left; width: 79%; margin-left:0.5%; margin-right:0.5%">

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>

<h3>{L_RAIDPLANNER}</h3>

<div class="forabg">
  	<div class="inner">
  	<span class="corners-inner-top"><span></span></span>
  	

<table style="width: 60%; text-align: center;margin-left: auto; margin-right: auto;" cellpadding="0" cellspacing="0">
<tr>
<td style="width: 16%; text-align: center;padding-left: 7%"><a href="{CALENDAR_PREV}"><div class="planner_back">&nbsp;</div></a></td>
<td style="width: 6%; text-align: center"></td>
<td style="width: 42%; text-align: center"><h1 style="text-align: center;margin-left: auto; color:#dfc065; margin-right: auto;">{CALENDAR_HEADER}</h1></td>
<td style="width: 6%; text-align: center"></td>
<td style="width: 16%; text-align: center; padding-left: 7%"><a href="{CALENDAR_NEXT}"><div class="planner_to">&nbsp;</div></a></td>
</tr>
<tr><td colspan="5" style="text-align: center">
<form id="viewOpts" method="post" action="{S_POST_ACTION}">
<p>
	{CALENDAR_VIEW_OPTIONS}<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="button1" />
	</p>
</form>
</td></tr>
</table>

  <table style="width: 100%; text-align: center"><tr><td style="width: 100%; text-align: center; margin-left: auto; margin-right: auto;">
  <table class="table1" style="width: 100%" cellspacing="0" cellpadding="0" border="0">
    <!-- IF .time_headers -->
    <tr>
      <!-- BEGIN time_headers -->
      <td style="width: 4.166%; text-align: center" colspan="4" class="bg4">{time_headers.TIME} {time_headers.AM_PM}</td>
      <!-- END time_headers -->
    </tr>
    <!-- ENDIF -->
    
    <!-- IF BIRTHDAYS -->
    <tr>
      <td colspan="96" class="bg3_calDay" style="text-align: center;">
    	{BIRTHDAYS}
   	</td>
   	</tr>
    <!-- ENDIF -->
    <!-- IF EVENT_COUNT -->
	    <!-- BEGIN raidplans -->
	      <!-- IF raidplans.PRE_PADDING --><td colspan="{raidplans.PRE_PADDING}" class="bg3_calDay">&nbsp;</td><!-- ENDIF -->
	      <td colspan="{raidplans.PADDING}" class="bg1_calDay" style="text-align: center;">
	      		<!-- IF raidplans.EVENT_URL -->
          		<a id="raid_id{raidplans.RAID_ID}" href="{raidplans.EVENT_URL}">
          			<!-- IF raidplans.COLOR --><span style="color:#{raidplans.COLOR}"><!-- ENDIF -->
          			<!-- IF raidplans.DISPLAY_BOLD --><strong><!-- ENDIF -->
          			<!-- IF raidplans.S_EVENT_IMAGE_EXISTS --><img src="{raidplans.IMAGE}" alt="{raidplans.ETYPE_DISPLAY_NAME}" /> <br/><!-- ENDIF -->
          			<!-- IF raidplans.ETYPE_DISPLAY_NAME -->{raidplans.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{raidplans.EVENT_SUBJECT}
          			<!-- IF raidplans.DISPLAY_BOLD --></strong><!-- ENDIF --><br /><span class="smCalText">
          					<!-- IF calendar_days.raidplans.SHOW_TIME -->
          					<!-- IF raidplans.ALL_DAY -->{L_ALL_DAY}
          					<!-- ELSE -->{L_FROM_TIME}: {raidplans.START_TIME}
          					<br />{L_TO_TIME}: {raidplans.END_TIME}
          					<!-- ENDIF --></span>
          					<!-- ENDIF -->
          			<!-- IF raidplans.COLOR --></span><!-- ENDIF -->
          		</a>
          		<div class="bbtooltip">
			 	    <div class="bbinner">
					    <div class="t"></div>
					    	<!-- IF raidplans.S_EVENT_IMAGE_EXISTS --><img src="{raidplans.IMAGE}" alt="{raidplans.ETYPE_DISPLAY_NAME}" /> <br/><!-- ENDIF -->
							<h4>{calendar_days.raidplans.EVENT_SUBJECT}</h4>
							{L_INVITE}
				    </div>
		     		<div class="b"><div></div></div> 
		     	</div>
          		<!-- ELSE -->
          		{raidplans.DATA}
          		<!-- ENDIF -->
	      </td>
	      <!-- IF raidplans.POST_PADDING --><td colspan="{raidplans.POST_PADDING}" class="bg3_calDay">&nbsp;</td><!-- ENDIF -->
	    </tr>
	    <!-- END raidplans -->
    <!-- ELSE -->
    	<tr>
	      <td colspan="96" class="bg1_calDay" style="text-align: center">&nbsp;<br />{L_NO_EVENTS_TODAY}<br />&nbsp;</td>
	    </tr>
    <!-- ENDIF -->
  
  </table>
  </td></tr></table>

<span class="corners-inner-bottom"><span></span></span>
</div>
</div>

<div class="buttons">
<!-- IF ADD_LINK --><div class="planner-new-icon"><a href="{ADD_LINK}" title="{L_NEW_EVENT}"><span></span></a></div><!-- ENDIF -->
<div class="planner-week-icon"><a href="{WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div>
<div class="planner-month-icon"><a href="{MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div>
</div>

<span class="corners-bottom"><span></span></span>
</div>
</div>
  

</div>

<!-- right sidebar -->
<div style="float: right; width: 19%; margin-right:0.5%">

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<h3>{L_UPCOMING_RAIDS}</h3>
<span class="corners-bottom"><span></span></span>
</div>
</div>
  

</div>

