<!-- post editor start -->
<script type="text/javascript">
  window.onload = start;
  function start()
  {
    subPanels('raidinfo-panel');
  }

  
  function update_group_id_state()
  {
      if( document.getElementById('calELevel').value == 1 )
      {
          document.getElementById('calGroupId[]').disabled=false;
      }
      else
      {
          document.getElementById('calGroupId[]').disabled=true;
      }
  }

  Date.prototype.getWeek = function() 
  {
	    var determinedate = new Date();
	    determinedate.setFullYear(this.getFullYear(), this.getMonth(), this.getDate());
	    var D = determinedate.getDay();
	    if(D == 0) D = 7;
	    determinedate.setDate(determinedate.getDate() + (4 - D));
	    var YN = determinedate.getFullYear();
	    var ZBDoCY = Math.floor((determinedate.getTime() - new Date(YN, 0, 1, -6)) / 86400000);
	    var WN = 1 + Math.floor(ZBDoCY / 7);
	    return WN;
	}

  <!-- IF S_RECURRING_OPTS -->
  function update_recurr_state()
  {
      if( document.postform.calIsRecurr.checked )
      {
          document.getElementById('calRFrqT').disabled=false;
          document.getElementById('calRFrq').disabled=false;
          document.getElementById('calRDEnd').disabled=false;
          document.getElementById('calRMEnd').disabled=false;
          document.getElementById('calRYEnd').disabled=false;
      }
      else
      {
          document.getElementById('calRFrqT').disabled=true;
          document.getElementById('calRFrq').disabled=true;
          document.getElementById('calRDEnd').disabled=true;
          document.getElementById('calRMEnd').disabled=true;
          document.getElementById('calRYEnd').disabled=true;
      }
  }
	<!-- IF S_UPDATE_RECURRING_OPTIONS -->

	  var number_strings = new Array();
	  number_strings[0] = "1st";
	  number_strings[1] = "1st";
	  number_strings[2] = "2nd";
	  number_strings[3] = "3rd";
	  number_strings[4] = "4th";
	  number_strings[5] = "5th";
	  number_strings[6] = "6th";
	  number_strings[7] = "7th";
	  number_strings[8] = "8th";
	  number_strings[9] = "9th";
	  number_strings[10] = "10th";
	  number_strings[11] = "11th";
	  number_strings[12] = "12th";
	  number_strings[13] = "13th";
	  number_strings[14] = "14th";
	  number_strings[15] = "15th";
	  number_strings[16] = "16th";
	  number_strings[17] = "17th";
	  number_strings[18] = "18th";
	  number_strings[19] = "19th";
	  number_strings[20] = "20th";
	  number_strings[21] = "21st";
	  number_strings[22] = "22nd";
	  number_strings[23] = "23th";
	  number_strings[24] = "24th";
	  number_strings[25] = "25th";
	  number_strings[26] = "26th";
	  number_strings[27] = "27th";
	  number_strings[28] = "28th";
	  number_strings[29] = "29th";
	  number_strings[30] = "30th";
	  number_strings[31] = "31st";
	/* these are already localised, see common.php datetime array */
	  var month_strings = new Array();
	  month_strings[0] = "";
	  month_strings[1] = "January";
	  month_strings[2] = "February";
	  month_strings[3] = "March";
	  month_strings[4] = "April";
	  month_strings[5] = "May";
	  month_strings[6] = "June";
	  month_strings[7] = "July";
	  month_strings[8] = "August";
	  month_strings[9] = "September";
	  month_strings[10] = "October";
	  month_strings[11] = "November";
	  month_strings[12] = "December";

	  var weekday_strings = new Array();
	  weekday_strings[0] = "Sunday";
	  weekday_strings[1] = "Monday";
	  weekday_strings[2] = "Tuesday";
	  weekday_strings[3] = "Wednesday";
	  weekday_strings[4] = "Thursday";
	  weekday_strings[5] = "Friday";
	  weekday_strings[6] = "Saturday";

	  var recurr_raidplan_type_strings = new Array();
	  recurr_raidplan_type_strings[0] = "";
	  recurr_raidplan_type_strings[1] = "{L_RECURRING_EVENT_CASE_1}";
	  recurr_raidplan_type_strings[2] = "{L_RECURRING_EVENT_CASE_2}"; 
	  recurr_raidplan_type_strings[3] = "{L_RECURRING_EVENT_CASE_3}";
	  recurr_raidplan_type_strings[4] = "{L_RECURRING_EVENT_CASE_4}";
	  recurr_raidplan_type_strings[5] = "{L_RECURRING_EVENT_CASE_5}";
	  recurr_raidplan_type_strings[6] = "{L_RECURRING_EVENT_CASE_6}";

	  function update_recurring_options()
	  {
		  /* get date */
		    var selDate = new Date();
			selDate.setDate( document.getElementById('calD').value );
			var thisdate = document.getElementById('calD').value; 
			var sel_day_string = number_strings[ thisdate ];
			var sel_week_day_string = weekday_strings[ selDate.getDay() ];

			/* get month */
			selDate.setMonth( (document.getElementById('calM').value - 1) );
			var thismonth =  (document.getElementById('calM').value); 
			var sel_month_string = month_strings[ thismonth ];

			/* get year */
			var thisyear = selDate.setFullYear( document.getElementById('calY').value );

			/* frequency y_string */
			var y_string = document.getElementById('calRFrq').value;
			var freq_type = document.getElementById('calRFrqT');

			var sel_week = selDate.getWeek();
			var sel_week_string = number_strings[sel_week];
			var temp_recurr_raidplan_type_strings = new Array();
			var rtypeInx = 0;
			for( rtypeInx = 0; rtypeInx < 7; rtypeInx++ )
			{
				temp_recurr_raidplan_type_strings[rtypeInx] = recurr_raidplan_type_strings[rtypeInx];
			}
			temp_recurr_raidplan_type_strings[1] = temp_recurr_raidplan_type_strings[1].replace(/\[Xth\]/g, sel_day_string);
			temp_recurr_raidplan_type_strings[1] = temp_recurr_raidplan_type_strings[1].replace(/\[Month Name\]/g, sel_month_string);
			temp_recurr_raidplan_type_strings[1] = temp_recurr_raidplan_type_strings[1].replace(/\[Y\]/g, y_string);

			temp_recurr_raidplan_type_strings[2] = temp_recurr_raidplan_type_strings[2].replace(/\[Xth\]/g, sel_week_string);
			temp_recurr_raidplan_type_strings[2] = temp_recurr_raidplan_type_strings[2].replace(/\[Weekday Name\]/g, sel_week_day_string);
			temp_recurr_raidplan_type_strings[2] = temp_recurr_raidplan_type_strings[2].replace(/\[Month Name\]/g, sel_month_string);
			temp_recurr_raidplan_type_strings[2] = temp_recurr_raidplan_type_strings[2].replace(/\[Y\]/g, y_string);

			temp_recurr_raidplan_type_strings[3] = temp_recurr_raidplan_type_strings[3].replace(/\[Xth\]/g, sel_day_string);
			temp_recurr_raidplan_type_strings[3] = temp_recurr_raidplan_type_strings[3].replace(/\[Y\]/g, y_string);

			temp_recurr_raidplan_type_strings[4] = temp_recurr_raidplan_type_strings[4].replace(/\[Xth\]/g, sel_week_string);
			temp_recurr_raidplan_type_strings[4] = temp_recurr_raidplan_type_strings[4].replace(/\[Weekday Name\]/g, sel_week_day_string);
			temp_recurr_raidplan_type_strings[4] = temp_recurr_raidplan_type_strings[4].replace(/\[Y\]/g, y_string);

			temp_recurr_raidplan_type_strings[5] = temp_recurr_raidplan_type_strings[5].replace(/\[Weekday Name\]/g, sel_week_day_string);
			temp_recurr_raidplan_type_strings[5] = temp_recurr_raidplan_type_strings[5].replace(/\[Y\]/g, y_string);

			temp_recurr_raidplan_type_strings[6] = temp_recurr_raidplan_type_strings[6].replace(/\[Y\]/g, y_string);

			for( rtypeInx = 1; rtypeInx < 7; rtypeInx++ )
			{
				freq_type.options[rtypeInx-1].innerHTML = temp_recurr_raidplan_type_strings[rtypeInx];
			}
	  }
	<!-- ELSE -->
	function update_recurring_options()
	{
		/* do nothing here */
	}
	<!-- ENDIF -->
	function update_recurring_end_date_opts( currVal )
	{
		var endD = document.getElementById('calRDEnd');
		var endM = document.getElementById('calRMEnd');
		var endY = document.getElementById('calRYEnd');
		if( currVal == 0 )
		{
			endD.value = 0;
			endM.value = 0;
			endY.value = 0;
		}
		else
		{
			if( endD.value == 0 )
			{
				endD.options[1].selected = true;
			}
			if( endM.value == 0 )
			{
				endM.options[1].selected = true;
			}
			if( endY.value == 0 )
			{
				endY.options[1].selected = true;
			}
		}
	}
  <!-- ENDIF -->


  /*  make a XMLHTTP Request object */
  function GetXmlHttpObject() 
  { 
  	var xmlhttp=false;	
  	
  	try
  	{ 
  		//  IE7+, Firefox, Chrome, Opera, Safari
  		xmlhttp=new XMLHttpRequest();
  	}
  	catch(e)	
  	{	// activex code for IE6, IE5
  		try
  		{			
  			xmlhttp= new ActiveXObject("Microsoft.XMLHTTP");
  		}
  		catch(e)
  		{
  			try
  			{
  				xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
  			}
  			catch(e1)
  			{
  				xmlhttp=false;
  			}
  		}
  	}
  	return xmlhttp;
  }

  /* ajax function to fill profile, sends call to server */ 
  var xmlhttp; 
  function update_roles(role)
  {
	  xmlhttp = GetXmlHttpObject();
	  if (xmlhttp == null)
	  {
		  return;  
	  }
	   var strURL="{UA_AJAXHANDLER1}?role="+role;
	   xmlhttp.onreadystatechange=stateChanged;
	   xmlhttp.open("GET", strURL, true);
	   // send to server
	   xmlhttp.send(null);
  }


  /* called from update_roles when state changed */
  
  function stateChanged()
  {
  	if (xmlhttp.readyState==4) //request complete
  	{
  		if (xmlhttp.status == 200)
  		{
  			//receive xml
  			xmlDoc=xmlhttp.responseXML;
  			var root = xmlDoc.getElementsByTagName('rolelist')[0];
  			var roles = root.getElementsByTagName("role")
  			document.getElementById('raidroles').innerHTML = "";
  			for (var i = 0; i < roles.length; i++)
  			{
				var role = roles[i];
				var role_id = role.getElementsByTagName("role_id")[0].firstChild.nodeValue;
				var role_name = role.getElementsByTagName("role_name")[0].firstChild.nodeValue;
				var role_needed = role.getElementsByTagName("role_needed")[0].firstChild.nodeValue;

  				var otitle = document.createElement('dt');

  				var oLabel = document.createElement('label');
				oLabel.innerHTML = role_name + ":";
				oLabel.setAttribute("for","subject");
				otitle.appendChild(oLabel);
				
				var odef = document.createElement('dd');
				var oInput1 = document.createElement('input');
				var oInput2 = document.createElement('input');
				oInput1.setAttribute("type","hidden");
				oInput1.setAttribute("name", "role[" + role_id + "]");
  				oInput1.setAttribute("value", role_needed);
  				oInput2.setAttribute("type","text");
  				oInput2.setAttribute("name", "role_needed[" + role_id + "]");
  				oInput2.setAttribute("size", "5");
  				oInput2.setAttribute("maxlength", "2");
  				oInput2.setAttribute("tabindex", "2");
  				oInput2.setAttribute("value", role_needed);
  				oInput2.setAttribute("class", "inputbox autowidth");

  				odef.appendChild(oInput1);
  				odef.appendChild(oInput2);

  	  			/* now insert it in the dom. raidroles in the div anchor */
  				document.getElementById("raidroles").appendChild(otitle);
  				document.getElementById("raidroles").appendChild(odef);
  			}
  			

  		}
  		else 
  		{
     	   		alert("{LA_ALERT_AJAX}:\n" + xmlhttp.statusText);
  	 	}
  	}
  }
  

  
  </script>
  
  <!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
  
  
  
  <!-- IF S_POST_ACTION -->



<div class="panel bg2">
<div class="inner">
<span class="corners-top"><span></span></span>

<div style="width:100%; clear:both;">

<fieldset class="fields1">
  	<dl style="clear: left;">
		<dt><label for="subject">{L_SUBJECT}:</label></dt>
		<dd><input type="text" name="subject" id="subject" size="50" maxlength="100" tabindex="2" value="{SUBJECT}" class="inputbox autowidth" /></dd>
	</dl>
</fieldset>
<!-- INCLUDE planner/planner_post_buttons.html -->
		<div id="smiley-box">
			<!-- IF S_SMILIES_ALLOWED and .smiley -->
				<strong>{L_SMILIES}</strong><br />
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" 
					height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
				<!-- END smiley -->
			<!-- ENDIF -->
			<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
				<br /><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;">{L_MORE_SMILIES}</a>
			<!-- ENDIF -->
	
			<!-- IF BBCODE_STATUS -->
			<!-- IF .smiley --><hr /><!-- ENDIF -->
			{BBCODE_STATUS}<br />
			<!-- IF S_BBCODE_ALLOWED -->
				{IMG_STATUS}<br />
				{FLASH_STATUS}<br />
				{URL_STATUS}<br />
				{SMILIES_STATUS}
			<!-- ENDIF -->
			<!-- ENDIF -->
		</div>

		<div id="message-box">
			<textarea name="message" id="message" rows="10" cols="60" tabindex="3" onselect="storeCaret(this);" 
			onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{MESSAGE}</textarea>
		</div>

</div>

<span class="corners-bottom"><span></span></span>
</div>
</div>


<div id="tabs">
	<ul>
		<li id="raidinfo-panel-tab" class="activetab"><a href="#tabs" onclick="subPanels('raidinfo-panel'); return false;"><span>{L_RAIDINFO}</span></a></li>
		<li id="raidroles-panel-tab"><a href="#tabs" onclick="subPanels('raidroles-panel'); return false;"><span>{L_RAIDROLES}</span></a></li>
		<!-- IF S_DATE_TIME_OPTS -->
		<li id="raidwhen-panel-tab"><a href="#tabs" onclick="subPanels('raidwhen-panel'); return false;"><span>{L_RAIDWHEN}</span></a></li>
		<!-- IF S_RECURRING_OPTS -->
		<li id="raidrecurring-panel-tab"><a href="#tabs" onclick="subPanels('raidrecurring-panel'); return false;"><span>{L_RAIDREPEAT}</span></a></li>
		<!-- ENDIF -->
		<!-- ENDIF -->
	</ul>
</div>
		
<div class="panel bg2" id="raidinfo-panel">
<div class="inner">
<span class="corners-top"><span></span></span>

  <h3>{L_RAIDINFO}</h3>
  <fieldset class="fields1">
  	<br/>
	<!-- fetch the raidplans from bbDKP -->
	<dl style="clear: left;">
		<dt><label for="calEType">{L_EVENT_TYPE}:</label></dt>
		<dd>
			<select name='calEType' id='calEType'>{EVENT_TYPE_SEL}</select>
	    </dd>
	</dl>
	
	<dl style="clear: left;">
		<dt><label for="calELevel">{L_EVENT_ACCESS_LEVEL}:</label></dt>
		<dd><select name='calELevel' id='calELevel' onchange='update_group_id_state();'>
		{EVENT_ACCESS_LEVEL_SEL}
		</select>
		</dd>
	</dl>
	<dl style="clear: left;">
		<dt><label for="calGroupId">{L_EVENT_GROUP}:</label></dt>
		<dd>{EVENT_GROUP_SEL}</dd>
	</dl>
	
  </fieldset>
 
<span class="corners-bottom"><span></span></span>
</div>
</div>

<div class="panel bg2" id="raidroles-panel">
<div class="inner">
<span class="corners-top"><span></span></span>
 <h3>{L_RAIDROLES}</h3>
	<fieldset class="fields1">
		<br/>
		<dl style="clear: left;">
		<dt><label>{L_CHOOSEPROFILE}</label>  </dt>
		<dd>
		<input type="radio" name="raidcomposition" onclick="update_roles(1);" value="1" checked /> {L_RAIDPROFILE1}
     	<input type="radio" name="raidcomposition" onclick="update_roles(2);" value="2"/> {L_RAIDPROFILE2}
		</dd>
		<div id="raidroles">
	<!-- BEGIN raidroles -->
		<dt><label for="subject">{raidroles.ROLE_NAME}:</label></dt>
		<dd>
			<input type="hidden" name="role[{raidroles.ROLE_ID}]" value="{raidroles.ROLE_ID}" />
			<input type="text" name="role_needed[{raidroles.ROLE_ID}]" size="5" maxlength="2" tabindex="2" value="{raidroles.ROLE_NEEDED}" class="inputbox autowidth" />
		</dd>
	<!-- END raidroles -->
		</div>
	</dl>
	</fieldset>
<span class="corners-bottom"><span></span></span>
</div>
</div>

  
 <!-- IF S_DATE_TIME_OPTS -->
 <div class="panel bg2" id="raidwhen-panel">
<div class="inner">
<span class="corners-top"><span></span></span>

 <h3>{L_RAIDWHEN}</h3>
<fieldset class="fields1"> 
  <dl style="clear: right;">
			<dt><label for="calM">{L_RAID_DATE}:</label></dt>
			<dd><select name='calM' id='calM'>{MONTH_SEL}</select><select name='calD' id='calD'>{DAY_SEL}</select><select name='calY' id='calY'>{YEAR_SEL}</select>
		  	</dd>
		</dl>

		<dl style="clear: right;">
			<dt><label for="calinvHr">{L_RAID_INVITE_TIME}:</label></dt>
			<dd>
				<select name='calinvHr' id='calinvHr'>{INVITE_HOUR_SEL}</select>
				<select name='calinvMn' id='calinvMn'>{INVITE_MIN_SEL}</select>
			</dd>
		</dl>
		<dl style="clear: right;">
			<dt><label for="calHr">{L_RAID_START_TIME}:</label></dt>
			<dd>
				<select name='calHr' id='calHr'>{START_HOUR_SEL}</select>
				<select name='calMn' id='calMn'>{START_MIN_SEL}</select>
			</dd>
		</dl>
		
		<dl style="clear: left;">
		<dt><label>{L_TRACK_SIGNUPS}:</label></dt>
		<dd><input type='checkbox' name='calTrackRsvps' value='1' {TRACK_RSVP_CHECK} /></dd>
		</dl> 
	
    </fieldset>
 
<span class="corners-bottom"><span></span></span>
</div>
</div>

<!-- IF S_RECURRING_OPTS -->
<div class="panel bg2" id="raidwhen-panel">
<div class="inner">
<span class="corners-top"><span></span></span>

	<fieldset class="fields1"><legend><h4>{L_RAIDREPEAT}</h4></legend> 
		<br/>			
			
			<dl style="clear: left;">
				<dt><label>{L_RECURRING_RAIDPLAN}:</label></dt>
				<dd>{RECURRING_EVENT_CHECK}</dd>
			</dl>
			<dl style="clear: left;">
				<dt title="{L_RECURRING_EVENT_FREQ_EXPLAIN}"><label for="calRFreq">{L_RECURRING_EVENT_FREQ}</label><br /></dt>
				<dd>{RECURRING_EVENT_FREQ_IN}</dd>
			</dl>
			<dl style="clear: left;">
				<dt><label for="calMEnd">{L_END_RECURRING_EVENT_DATE}</label></dt>
				<dd>{END_RECURR_MONTH_SEL} {END_RECURR_DAY_SEL} {END_RECURR_YEAR_SEL}</dd>
			</dl>
			<dl style="clear: left;">
				<dt title="{L_RECURRING_EVENT_TYPE_EXPLAIN}"><label for="calRType">{L_RECURRING_EVENT_TYPE}</label><br /></dt>
				<dd ">{RECURRING_EVENT_TYPE_SEL}</dd>
			</dl>
			
			</fieldset>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- ENDIF -->




<!-- ELSE -->
<div>
	<input type="hidden" name="calEditAll" id="calEditAll" value="1">
</div>
<!-- ENDIF -->


<!-- ENDIF -->

	


<!-- post editor end -->
